* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    display: block;
}
section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background: #3b69d5;
    overflow: hidden;
}
section .loader {
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes animate_wrap {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
section .loader .wrap h3 {
    animation: animate_wrap 4s linear  1 normal both;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    display: block;
    line-height: 200px;
    font-size: 200px;
    margin: 0 0 0 20px;
    
   
}

section .loader h3 svg {
    width: 150px;
    margin: -65px 0 0 -11px;
}
@keyframes animate_wrapper{
    from{
        transform: translateX(100%)
    }
    to{
       transform: translate(-7%);
    }
}
section .wrapper {
    animation: animate_wrapper 1.5s linear 1s  1 normal both;
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 200px;
    display: block;
    line-height: 200px;
    font-size: 200px;
    margin: 0 0 0 20px;
    
}
@keyframes animate_spinner {
    from {
        transform:  rotate(0deg)
    }
    to {
        transform:  rotate(360deg)
    }
}
@keyframes animate_spinner_in {
    to {
        transform: translate(0px,0px);
    }
}
section .loader .spinner {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    position: relative;
    animation: animate_spinner 0.7s linear infinite normal forwards;
}
section .loader .spinner span {
    position: absolute;
    width: 70px;
    height: 70px;
    display: block;
    border-radius: 50%;
    background: whitesmoke;
}
@keyframes animate_spinner_in1 {
    from {
        top: -30px;
        left: 110px;
    }
    to {
        top: 110px;
        left: 120px;
    }
}
section .loader .spinner span:nth-child(1) {
    animation: animate_spinner_in1 3s linear 1 normal forwards;
    top: -30px;
    left: 110px;
}
@keyframes animate_spinner_in2 {
    from {
        top: 175px;
        left: -19px;
    }
    to {
        top: 110px;
        left: 120px;
    }
}
section .loader .spinner span:nth-child(2) {
    animation: animate_spinner_in2 3s linear 1 normal forwards;
    top: 175px;
    left: -19px;
}
@keyframes animate_spinner_in3 {
    from {
        top: 175px;
        left: 239px;
    }
    to {
        top: 110px;
        left: 120px;
    }
}
section .loader .spinner span:nth-child(3) {
    animation: animate_spinner_in3 3s linear 1 normal forwards;
    top: 175px;
    left: 239px;
}